body{
  margin: 0;
  overflow: hidden;
  background: #f5f5f5;
}

#container{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.rect{
  position: absolute;
  animation: float ease-in-out infinite;
  animation-duration: 2s;
  animation-delay: 0s;
  will-change: transform;
}

@keyframes float{
  0%{ transform: translateY(0px); }
  50%{ transform: translateY(-6px); }
  100%{ transform: translateY(0px); }
}

.fixed-img{
  position: absolute;
  left: 150px;
  top: -5px;
  width: 500px;
  height: auto;
  z-index: 9995;
}

.img_a{
  position: absolute;
  left: 950px;
  top: 450px;
  width: 70px;
  height: auto;
  z-index: 9996;
}

.img_b{
  position: absolute;
  left: 1050px;
  top: 160px;
  width: 90px;
  height: auto;
  z-index: 9997;
}

.img_c{
  position: absolute;
  left: 200px;
  top: 40px;
  width: 95px;
  height: auto;
  z-index: 9998;
}

.text_A{
  position: absolute;
  right: -60px;
  bottom: 145px;

  font-family: hiragino-kaku-gothic-pron, sans-serif;
  font-weight: 300;
  color: black;

  border-bottom: 3px solid black;
  display: inline-block;
  line-height: 0.8;

  font-size: 70px;
  transform: rotate(-60deg);
  transform-origin: left top;
}

.text_C{
  position: absolute;
  right: 0px;
  bottom: 3px;

  font-family: hiragino-kaku-gothic-pron, sans-serif;
  font-weight: 300;
  color: black;

  border-bottom: 3px solid black;
  display: inline-block;
  line-height: 0.8;

  font-size: 70px;
  transform: rotate(0deg);
  transform-origin: left top;
}

.text_E{
  position: absolute;
  right: 230px;
  bottom: 8px;

  font-family: hiragino-kaku-gothic-pron, sans-serif;
  font-weight: 300;
  color: black;

  border-bottom: 3px solid black;
  display: inline-block;
  line-height: 0.8;

  font-size: 70px;
  transform: rotate(-10deg);
  transform-origin: left top;
}

.text_W{
  position: absolute;
  right: 50px;
  bottom: 160px;

  font-family: hiragino-kaku-gothic-pron, sans-serif;
  font-weight: 300;
  color: black;

  border-bottom: 3px solid black;
  display: inline-block;
  line-height: 0.8;

  font-size: 70px;
  transform: rotate(20deg);
  transform-origin: left top;
}

img[data-highlight="true"]:hover{
  transform: scale(1.05);
  z-index: 10001;
}

#overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: rgba(0,0,0,0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;

  z-index: 10000;
}

.text_A,
.text_C,
.text_E,
.text_W{
  z-index: 10005;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.text_A:hover{
  font-weight: 600;
  border-bottom: 5px solid #eb3042;
}

.text_C:hover{
  font-weight: 600;
  border-bottom: 5px solid #54e218;
}

.text_E:hover{
  font-weight: 600;
  border-bottom: 5px solid #204bae;
}

.text_W:hover{
  font-weight: 600;
  border-bottom: 5px solid #ec8bc7;
}